site_name: OmegaT guides [cApStAn]
site_url: https://capstanlqc.github.com/omegat-guides
nav:
    - Contents: index.md
    - Tags: misc/tags.md
    - Translation: 
        - Translation: translation/index.md
        - Installation and setup: translation/install-and-setup.md
        - Accessing a project: translation/accessing-the-project.md
        - translation/navigation.md
        - translation/tags.md
        - translation/matches.md
        - translation/glossary.md
        - translation/repetitions.md
        - translation/other-useful-features.md
        - QA checks: translation/qa-checks.md
        - translation/creating-target-files.md
        - translation/creating-your-deliverable.md
        - translation/shortcuts.md
    - Reconciliation: 
        - Reconciliation: reconciliation/index.md
        - Installation and setup: reconciliation/install-and-setup.md
        - Accessing a project: reconciliation/accessing-the-project.md
        - reconciliation/navigation.md
        - reconciliation/tags.md
        - reconciliation/matches.md
        - reconciliation/glossary.md
        - reconciliation/repetitions.md
        - reconciliation/other-useful-features.md
        - QA checks: reconciliation/qa-checks.md
        - reconciliation/creating-target-files.md
        - reconciliation/creating-your-deliverable.md
        - reconciliation/shortcuts.md
    - Adaptation: 
        - Adaptation: adaptation/index.md
        - Installation and setup: adaptation/install-and-setup.md
        - Accessing a project: adaptation/accessing-the-project.md
        - adaptation/navigation.md
        - adaptation/tags.md
        - adaptation/matches.md
        - adaptation/glossary.md
        - adaptation/repetitions.md
        - adaptation/other-useful-features.md
        - QA checks: adaptation/qa-checks.md
        - adaptation/creating-target-files.md
        - adaptation/creating-your-deliverable.md
        - adaptation/shortcuts.md
    - Verification: 
        - Verification: verification/index.md
        - Installation and setup: verification/install-and-setup.md
        - Accessing a project: verification/accessing-the-project.md
        - verification/navigation.md
        - verification/editing.md
        - verification/tags.md
        - verification/matches.md
        - verification/glossary.md
        - verification/repetitions.md
        - verification/other-useful-features.md
        - QA checks: verification/qa-checks.md
        - verification/creating-target-files.md
        - verification/creating-your-deliverable.md
        - verification/shortcuts.md         
    - Editing: 
        - Editing: editing/index.md
        - Installation and setup: editing/install-and-setup.md
        - Accessing a project: editing/accessing-the-project.md
        - editing/navigation.md
        - editing/tags.md
        - editing/matches.md
        - editing/glossary.md
        - editing/repetitions.md
        - editing/other-useful-features.md
        - QA checks: editing/qa-checks.md
        - editing/creating-target-files.md
        - editing/creating-your-deliverable.md
        - editing/shortcuts.md              
    - Review: 
        - Review: review/index.md
        - Installation and setup: review/install-and-setup.md
        - Accessing a project: review/accessing-the-project.md
        - review/navigation.md
        - review/tags.md
        - review/matches.md
        - review/glossary.md
        - review/repetitions.md
        - review/other-useful-features.md
        - QA checks: review/qa-checks.md
        - review/creating-target-files.md
        - review/creating-your-deliverable.md
        - review/shortcuts.md                  
    - Miscellanea:
        - Miscellanea: misc/index.md
        - IT security: misc/security.md
        - Videos: misc/videos.md
        - Autotext: misc/autotext.md
        - Shortcuts: misc/shortcuts.md
        - Bidirectionality: misc/bidi.md
        - Fonts: misc/fonts.md
        - FAQ: misc/faq.md
        - Tips and tricks: misc/tips.md
        - About: misc/about.md
    - Exercises:
        - Getting started: exercises/index.md
        - 01 - Navigation: exercises/nav.md
        - 02 - Matches: exercises/mat.md
        - 03 - Reconciliation: exercises/rec.md        
        - 04 - Tags: exercises/tag.md
        - 05 - Repetitions: exercises/rep.md
        - 06 - Alternative translations: exercises/alt.md
        - 07 - Autotext: exercises/aut.md
        - 08 - Search: exercises/fnd.md
        - 09 - QA checks: exercises/qac.md
        - 10 - Preview and delivery: exercises/tgt.md


theme:
  name: material
  logo: _assets/img/cApStAn_symbolesensemble_blanc.png
  favicon: _assets/favicon.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - toc.integrate
    - navigation.instant
    - navigation.tracking
    - navigation.prune
    - navigation.top
    - navigation.sections
    - navigation.tabs
    #- navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - toc.follow
    - navigation.indexes
markdown_extensions:
  - toc:
      #baselevel: 2
      permalink: True
      separator: "-"
      toc_depth: 1-3
  - abbr
  - attr_list
  - md_in_html
  - tables
  - admonition
  - footnotes
  - pymdownx.snippets:
      auto_append:
        - _includes/abbreviations.md
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg  
extra_css:
  - _assets/css/extra.css
extra_javascript:
  - _assets/js/extra.js
plugins:
  - search
  #- mkpdfs
  - tags:
      tags_file: misc/tags.md
  - mkdocs-video
  - macros:
      verbose: true
      include_dir: docs/_includes
      # https://github.com/mondeja/mkdocs-include-markdown-plugin
      # https://github.com/cmacmackin/markdown-include
      # https://github.com/neurobin/mdx_include
#  - awesome-pages
copyright: Copyright &copy; 2023 cApStAn
extra:
  generator: true

# https://github.com/pawamoy/best-of-mkdocs#-snippets--includes-reusing-contents