.md-grid {
  max-width: 1440px; 
}

table colgroup col {
    width: auto !important;
}

.md-sidebar--primary {
  display: block;
}

.md-tabs,
.md-copyright,
a.md-footer__link--next[aria-label="Next: Introduction"], 
a.md-footer__link--prev[aria-label="Previous: Tags"],
.md-nav__icon
{
  display: none !important;
}

.md-nav__link--index {
  font-size: x-large;
}

.page-content, .rst-content, .wy-nav-content {
  min-width: 600px !important;
}

.md-content {
  max-width: 900px !important;
}

@media screen and (min-width: 76.25em) {
  html .md-nav__link[for=__toc] ~ .md-nav--secondary {
    display: block;
    max-height: none;
  }
  html .md-nav__link[for=__toc] ~ .md-nav--secondary .md-nav__title {
    display: none;
  }
}