.md-sidebar--primary {
  display: none;
}

.md-tabs {
  display: none;
}

.md-header__button {
  display: none;
}

.md-grid {
  max-width: 1440px; 
}

table colgroup col {
    width: auto !important;
}